<h1>Edit Task</h2>

<%= form_with model: @task do |form| %>

    <p><%= form.label :title %><br>
    <%= form.text_field :title %></p>

    <p><%= form.label :description %><br>
    <%= form.text_area :description %></p>

    <p><%= form.label :deadline %><br>
    <%= form.text_area :deadline %></p>

    <p><%= form.label :completed %><br>
    <%= form.check_box :completed %></p>
<hr>
    <%= form.submit %>

<% end %>

<a href="/tasks/" data-turbo-method="delete">Delete Task</a>
<a href="/tasks">Back to tasks</a>


