
<h1>All Tasks</h1>
<hr>
<%= form_tag tasks_path, method: :get do %>
  <%= label_tag :category_id, "Search by category:" %>
  <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), include_blank: true %>
  <%= submit_tag "&#x1F50D;".html_safe %>
<% end %>

<br>
<% @tasks.each do |task| %>
  <ul>
  <p> <%= link_to task.title, task_path(task.id), class: "btn btn-sm btn-primary" %>
    <br>
    <strong>Description: </strong><%= task.description %>
    <br>
    <strong>Date: </strong><%= task.deadline %>
    <br>
    <strong>Category: </strong>
      <% task.categories.each do |category| %>
        <%= category.name %>
      <% end %>
      <%= form_with model: @task do |form| %>
<%= form.check_box :completed %> <%= form.label :completed %>
    </p>
<% end %>  
    </ul>
<% end %>

