<h1>All Tasks</h1>
<%= form_tag tasks_path, method: :get do %>
  <%= label_tag :category_id, "Category" %>
  <%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name", params[:category_id]), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<br>
  <tbody>
    <% @tasks.each do |task| %>
      <ul>
      <p> <%= link_to task.title, task_path(task.id) %>
        <br>
        <strong>Description: </strong><%= task.description %>
        <br>
        <strong>Deadline: </strong><%= task.deadline %>
        <br>
        <strong>Category: </strong>
          <% task.categories.each do |category| %>
            <%= category.name %><br>
          <% end %></p>
      </ul>
    <% end %>
  </tbody>











