<h1>New Task</h1>

<p><%= form_with(model: @task, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
<br>
  <%= form.label :description %>
  <%= form.text_field :description %>
<br>
  <%= form.label :deadline %>
  <%= form.datetime_local_field :deadline %>


<hr>
<%= form.submit "Create Task" %></p>
<% end %>
