<h1>New Task</h1>

<tbody>
  <%= form_with(model: @task, local: true) do |form| %>
    <p><%= form.label :title %><br>
    <%= form.text_field :title %></p>

    <p><%= form.label :description %><br>
    <%= form.text_field :description %></p>
    <p><%= form.label :deadline %><br>
    <%= form.datetime_local_field :deadline %></p>
    <p><%= form.label :category_id, "Category" %>
    <p><%= form.collection_select :category_id, Category.all, :id, :name %></p>
    <hr>
    <%= form.submit "Create Task" %>
  <% end %>
  </tbody>
</p>


