<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<p><strong>Deadline:</strong> <%= @task.deadline %></p>
<p><strong>Completed:</strong> <%= @task.completed ? "Yes" : "No" %></p>
<p><%= link_to "Edit Task", edit_task_path(@task) %></p>
<a href="/tasks/<%= @task.id %>" data-turbo-method="delete">Delete Task</a>
