<h1><%= @task.title %></h1>

  <p><%= @task.description %></p>
  <p><strong>Date:</strong> <%= @task.deadline %></p>

  <p><%= link_to "Edit Task", edit_task_path(@task) %></p>
  <a href="/tasks/<%= @task.id %>" data-turbo-method="delete">Delete Task</a>


